---
layout: home
---
<div class="user-details">
<h2> 关于我 </h2>
<p style="text-align: justify;"> 欢迎访问我的Blog，我是Senber，一名安全工程师，目前供职于美团信息安全部，从事反入侵产品研发工作(Hids Nids Waf Rasp)，欢迎有兴趣的小伙伴共同交流，同时也欢迎投递简历，请发送到senberhu@126.com </p>
<p style="text-align: justify;"> <a href="https://github.com/Senberhu">GitHub</a> <a href="https://home.cnblogs.com/u/senberhu">博客园</a> <a href="https://www.zhihu.com/people/SenberHu">知乎</a> <a href="hhttps://segmentfault.com/u/senberhu">SegmentFault</a> <a href="https://blog.csdn.net/weixin_43847470">CSDN</a></p>

<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:2 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts</h2>
<ul>
	<li>eBPF在反入侵产品中的使用</li>
	<li>eBPF开发指南</li>
</ul>

</div >
